langchain
langchain-core
langchain-community
langgraph

openai
google-generativeai
groq
mistralai

python-dotenv

pandas
numpy

pypdf
unstructured

faiss-cpu
chromadb

sentence-transformers

streamlit
gradio

fastapi
uvicorn

tiktoken
requests